{% extends 'base.html' %}

{% block title %}
Edit Post
{% endblock%}

{% block content %}
{% if user.is_authenticated %}
	{% if user.id == post.author.id %}
<h1>Edit post</h1>
<div class="form-group">
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.media }}
	{{ form.as_p }}
	<button class="btn btn-outline-secondary">Edited</button>
	<a href="{% url 'deletePost' post.pk %}", class="btn btn-outline-secondary">Delete</a>
</div>
	{% else %}	
	This page is not available
	{% endif %}
	
{% else %}
<h3>You are not authorisated^)</h3>
{% endif %}

{% endblock %}

